.layer1 {
    background-image: url(resources/images/layerIcon/Layer1.png) !important;
}
.layer2 {
    background-image: url(resources/images/layerIcon/Layer2.png) !important;
}
.layer3 {
    background-image: url(resources/images/layerIcon/Layer3.png) !important;
}
.layer4 {
    background-image: url(resources/images/layerIcon/Layer4.png) !important;
}
.layer5 {
    background-image: url(resources/images/layerIcon/Layer5.png) !important;
}
.layer6 {
    background-image: url(resources/images/layerIcon/Layer6.png) !important;
}
.layer8 {
    background-image: url(resources/images/layerIcon/Layer8.png) !important;
}
.layer9 {
    background-image: url(resources/images/layerIcon/Layer9.png) !important;
}
.layer10 {
    background-image: url(resources/images/layerIcon/Layer10.png) !important;
}
.layer11 {
    background-image: url(resources/images/layerIcon/Layer11.png) !important;
}
.layer13 {
    background-image: url(resources/images/layerIcon/Layer13.png) !important;
}
.layer14 {
    background-image: url(resources/images/layerIcon/Layer14.png) !important;
}
.layer15 {
    background-image: url(resources/images/layerIcon/Layer15.png) !important;
}
.layer16 {
    background-image: url(resources/images/layerIcon/Layer16.png) !important;
}
.symbol_1 {
    background-image: url(resources/images/layerIcon/symbol_1.png) !important;
}
.symbol_2 {
    background-image: url(resources/images/layerIcon/symbol_2.png) !important;
}
.symbol_3 {
    background-image: url(resources/images/layerIcon/symbol_3.png) !important;
}
.symbol_4 {
    background-image: url(resources/images/layerIcon/symbol_4.png) !important;
}
.symbol_5 {
    background-image: url(resources/images/layerIcon/symbol_5.png) !important;
}
.symbol_6 {
    background-image: url(resources/images/layerIcon/symbol_6.png) !important;
}
.symbol_8 {
    background-image: url(resources/images/layerIcon/symbol_8.png) !important;
}
.symbol_9 {
    background-image: url(resources/images/layerIcon/symbol_9.png) !important;
}
.symbol_10 {
    background-image: url(resources/images/layerIcon/symbol_10.png) !important;
}
.symbol_12 {
    background-image: url(resources/images/layerIcon/symbol_12.png) !important;
}
.symbol_13 {
    background-image: url(resources/images/layerIcon/symbol_13.png) !important;
}
.symbol_14 {
    background-image: url(resources/images/layerIcon/symbol_14.png) !important;
}
.symbol_15 {
    background-image: url(resources/images/layerIcon/symbol_14.png) !important;
}
.symbol_16 {
    background-image: url(resources/images/layerIcon/symbol_16.png) !important;
}
.symbol_17 {
    background-image: url(resources/images/layerIcon/symbol_17.png) !important;
}
.symbol_19 {
    background-image: url(resources/images/layerIcon/symbol_19.png) !important;
}
.symbol_20 {
    background-image: url(resources/images/layerIcon/symbol_20.png) !important;
}